[Unit]
Description=Backlight dim/undim daemon

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.Xauthority
ExecStart=/usr/bin/lis -c /etc/lis.conf

[Install]
WantedBy=multi-user.target
